/**/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    background-color: rgba(36,36,36,1);
    color: rgba(255,244,216,1);
}
.header{
    border:5px solid rgb(212, 245, 25);
    height: 600px;
}
.header-position{
    position: absolute;
    z-index: 3;
}
.header__flex-container{
    display: flex;
    justify-content: space-between;

}
.logo{
    position:relative;
    background-color: beige;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.user__column{
    position:relative;
    border:3px solid rgb(241, 168, 31);
    width: 160px;
    height: 220px;
}
.user__avatar{
    background-color: rgb(148, 50, 4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.basket__logo{
    background-color: aliceblue;
    background-image: url("icons/shopping-cart-2.png");
    border: 1px solid;
    border-radius: 5px;
    width: 24px;
    height: 24px;
}
.slider{
    position: absolute;
    background: url("images/alltrousers.jpg") no-repeat;
    width: 1490px;
    height: 590px;
    border: 5px solid antiquewhite; 
    z-index: 1;
}
.main{
    border: 5px solid antiquewhite;
    display: flex;
    justify-content:space-between;
}
.content{
    border: 5px solid rgb(0, 247, 255);
    width: 1200px;
    height: 800px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.item{
    padding: 5px;
    margin: 5px;
    border: 5px solid rgb(41, 8, 117);
    width: 220px;
    height: 380px;
}
.item__text{
    display: flex;
    justify-content: space-between;
}
.calveb-klein{
    background: url('images/ck-trousers.jpg') no-repeat;
    background-size: cover;
    width: 200px;
    height: 300px;
}
.sidebar{
    border: 5px solid rgb(190, 130, 51);
    width: 300px;
    height: 800px;
    margin: 10px;
}
.sidebar__links{
    text-align: center;
}
.link{
    color: rgba(255,244,216,1);
    display: block;
    margin-top: 10px;
}
.footer{
    border: 5px solid rgb(255, 0, 119);
}
.footer__content{
    text-align: center;
}