/**/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    background-color: rgba(36,36,36,1);
    color: rgba(255,244,216,1);
}
.header{
    /* border:5px solid rgb(212, 245, 25); */
    height: 440px;
    /* width: 100%; */
}
.header__content{
    /* background-color: rgb(202, 187, 159); */
}
.header__flex-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(202, 187, 159);

}
.logo{
    background-color: beige;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 35px 0 0 20px;
    /* z-index: 2; */
}
.user{
    /* z-index: 2; */
    margin: 25px 10px 10px 20px;
    background-color: rgba(56, 56, 55, 0.6);
    border-radius: 25px;
}
.user__row{
    /* border:3px solid rgb(241, 168, 31); */
    /* width: 520px; */
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
}
.user__column{
    flex: 1 1 300px;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px 0 10px;
}
.user__avatar {
    background-color: rgb(148, 50, 4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
    /* position: absolute;
    left: 20px;
    top: 0; */
}
.user__name{
    /* position: absolute;
    left: 90px;
    top: 25px */
}
.user__basket{
    /* position: absolute;
    left: 210px;
    top: 15px; */
    /* position: relative; */
}
.user-login{
    /* position: absolute;
    left: 200px;
    top: 10px; */
    background-color: rgba(255, 229, 182,0.8);
    border-radius: 8px;
    width: 40px;
    height: 20px;
    margin: 0 10px 0 10px;
    line-height: 20px;
}
.user-login:hover{
    background-color: rgba(255, 229, 182,1);
    transition: ease 0.4s;
}
.basket__logo{
    background-color: rgba(255, 229, 182,1);
    background-image: url("icons/shopping-cart.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    padding: 5px;
    transition: ease 0.4s;
    cursor: pointer;

}
.basket__logo:hover{
    background-color: rgba(199, 178, 140,1);
    transition: ease 0.4s; 
}
.basket__price{
    /* position: absolute;
    left: 50px */
}
.basket__count{
    position: absolute;
    background-color: rgba(255, 229, 182,1);
    /* border: 1px solid black; */
    text-align: center;
    line-height: 15px;
    width: 25px;
    height: 15px;
    color: black;
    border-radius: 16px;
    /* padding: 2px; */
    left:160px;
    top:10px;
}
a{
    outline: none;
}
.slider-position{
    /* position: absolute;
    left: 400px; */
    /* border: 5px solid rgb(255, 163, 43);  */
    /* width: 100%; */
    /* width: 300px; */
    /* min-height: 300px; */
    display: flex;
    justify-content: center;
    flex: 1 1 400px;
}
.slider{
    margin:10px 0 20px 0 ;
    background: url("images/alltrousers.jpg") no-repeat;
    background-size: cover;
    /* width: 100%; */
    /* min-width: 900px; */
    min-width: 640px;
    /* height: 590px; */
    height: 300px;
    /* border: 5px solid antiquewhite;  */
    border-radius: 16px;
}
.main{
    /* border: 5px solid antiquewhite; */
    display: flex;
    justify-content:center;
}
.content{
    /* margin: 5px ; */
    padding: 20px 20px  20px 20px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
    background-color: rgb(202, 187, 159);
    border-radius: 8px;
    width: calc(100% - 264px - 0.01px);
}
.items{
    width: 100%;
    margin: 0 -25px 0 0;
}
.item{
     /* padding:15px;
     margin: 10px auto  10px auto; 
     margin: 20px auto  20px 20px;
    margin: 10px 20px 10px 20px;
    flex: 0 1;
    width: 300px;
     max-width: 300px; 
    height: 380px;
    background-color: rgba(49, 49, 49, 0.5);
    border-radius: 12px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;  */
/* max-width: 300px; */
margin: 10px 0 10px 12px;
padding: 10px 20px 10px 20px;
text-align: center;
font-family: arial; 
background-color: rgba(49, 49, 49, 0.5);
border-radius: 12px;
box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 1);
display: inline-block;
/* width: calc(95% / 4 - 4px - -4px / 4 - 0.01px); */
width:31%;
min-height: 400px;
vertical-align: top;
}

/* .item:nth-last-child(-n+1){
    margin: 10px 20px 10px 20px;
} */

.item__content{
    margin: 5px 5px 5px 5px;
    position: relative;
}
.item__container{
    vertical-align:bottom;
    /* display: inline-block; */
   
}
.item__header{
    display: inline-block;
}
.item__text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}
.decription__container{
    vertical-align:bottom;
    display: inline-block;
}
.item__description{
    vertical-align:bottom;
    text-align: center;
    height: 70px;
    /* max-width: 310px; */
    margin: 5px 0 0 0 ;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    
}
.item__price{
    padding: 10px;
}
.item__price > span{
    margin: 0 5px 0 0;
}
.item__button{
    display: inline-block;
    vertical-align:bottom;
}
.button{
    border-radius: 20px;
    background-color: rgba(255, 229, 182,0.8);
    padding: 5px;
    transition: ease 0.4s;
}
.button:hover{
    background-color: rgba(255, 229, 182,1);
    transition: ease 0.4s;
}
.img{
    border-radius: 12px;
    /* width: 90%; */
    height: 260px;
    cursor: pointer;
    transition: ease 0.4s;
    margin: 10px 0 0 0;
}
.img:hover{
    transition: ease 0.4s;
    transform: scale(1.14,1.4) translate(0, 20px);


}
.calven-klein{
    background: url('images/ck-trousers.jpg') no-repeat;
    background-size: cover;
    /* width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0; */  
}
.calven-4{
    background: url('images/ck-trousers-4.jpg') no-repeat;
    background-size: cover;
}
.lvt-2{
    background: url('images/louisvuitton-trousers-2.jpg') no-repeat;
    background-size: cover;
}
.lacoste-1{
    background: url('images/lacoste-trousers.jpg') no-repeat;
    background-size: cover;
}
.ck-2{
    background: url('images/ck-trousers-2.jpg') no-repeat;
    background-size: cover;
}
.fila{
    background: url('images/fila-trousers.jpg') no-repeat;
    background-size: cover;
}
.sidebar{
    /* border: 5px solid rgb(190, 130, 51); */
    /* background:rgb(202, 187, 159); */
    border-radius: 5px;
    max-width: 300px;
    height: 800px;
    margin: 10px;
}
.sidebar__links{
    text-align: center;
}
.link{
    color: rgba(0, 0, 0, 1);
    text-align: center; 
    font-size: 16px; 
}
.first-level-li{
    /* background-color: rgba(0, 0, 0, 1); */
    background-color: rgba(255,244,216,0.7);
    border-radius: 5px;
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.2s;
    position: relative;
    
}
.first-level-li:hover{
    background-color: rgba(255,244,216,0.7);
    transition: ease 0.2s;
}
/* .first-level-li:hover  .second-level-ul{
    display: block;
    transition: ease 0.4s;
} */

.second-level-li{
    display:  none;
    transition: ease 0.4s;
    /* position: absolute; */
    background-color: rgba(124, 57, 26,1);
    border-radius: 4px;
    
}
.second-level-li:hover a{
    display:  block;
    transition: ease 0.6s;
    color: rgb(255, 202, 68);
}
.first-level-ul:hover .second-level-li {
    display: block;
    animation: growDown 700ms;
    transition: ease 0.6s;
}
.first-level-ul:active .second-level-li {
    display: block;
    transition: ease 0.6s;
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
.middle-text{
    font-size: 22px;
}
.text-center{
    text-align:center
}

/* .footer{
     border: 5px solid rgb(255, 0, 119); 
} */
.footer__content{
    text-align: center;
}
@media (max-width: 980px){
    .item{
        width:46%;
    }
}
@media (max-width: 765px){
    .content{
        width:100%;
        padding: 40px 70px 20px 70px;
    }
    .item{
        width:95%;
    }
    .sidebar{
        display: none;
    }
}

@media (max-width: 650px){
    .slider{
        min-width: 300px;
    }
    .user__column{
        /* width: 90%; */
    }
    .logo{
        display: none;
    }
    .user{
        margin: 10px auto 10px auto;
        /* width: 90%; */
    }
    .user-login{
        left: 160px;
    }
    .user__basket{
        left: 140px;
    }
    .content{
        padding: 30px 10px 20px 5px;
    }
}